<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <title>Kiosko</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg nav">
        <a class="title navbar-brand tx-white" href="../views/Home.html"><img src="../static/Polaris_Logo_Blue.svg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link tx-white" href="#">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle tx-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Accesos
                  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Sistema Kaizen</a>
                        <a class="dropdown-item" href="#">Cambio de Calzado</a>
                        <a class="dropdown-item" href="#">Recursos Humanos</a>
                        <a class="dropdown-item" href="#">Gestion de Calidad</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link tx-white" href="#">Features</a>
                </li>
            </ul>
        </div>
    </nav>

    <img src="../static/rzr-turbo-s-location-4-lg.jpg" alt="">

    <div class="container cont">
        <div class="kiosko">
            <img src="../static/kmty.png" alt="">
        </div>
        <div class="row">
            <div class="col m-5">
                <ul class="list">
                    <li>
                        <a href="https://app.powerbi.com/reportEmbed?reportId=e1ef0559-10e5-41cb-853f-3c054ac52dfd&groupId=56c8c7c1-9482-45e0-9bb8-153271029fb9&autoAuth=true&ctid=85f78c4c-ad11-4735-9624-0b2c11611dff&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D"><img src="../static/sistema-kaizen.png" alt=""></a>
                    </li>
                    <li>
                        <a href="../views/CambioCalzado.html"><img src="../static/cambio-calzado.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="../static/recursos-humanos.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="../static/sistema-gestion-calidad.png" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="col m-5">
                <img src="../static/AAA.png" alt="">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>